.accordion-container{
    max-width: 2000px;
  margin: 0 auto;
  padding: 20px;
}

.accordion .p-accordion-header-link {
    color: inherit; /* Ensure the text color is not like a link */
    text-decoration: none; /* Remove any underline effect */
    font-weight: bolder; /* Make the question text bold */
    font-size: 20px;
    font-family: "Lato";

  }
  .accordion{
    margin-top: 20px;
    margin-bottom: 20px;
  }

  
  .accordion .p-accordion-content {
    padding: 15px;
    font-size: 14px;
    color: #666;
    line-height: 2em;

  }
  .m-0{
    text-align: justify;
  }
  
  .accordion .p-accordion-tab {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 10px 0;
  }
  
  .accordion .p-accordion-header {
    background-color: rgb(255, 165, 0);;
    padding: 15px;
    text-align: left;
  }

 