

.steps {
    display: flex;
    justify-content: space-evenly;
	align-items: center;
}



.step-container h2{
    width: 250px;
}

.step-container img{
    width: 250px;
    height: 250px;
    border-radius: 125px;
}

.step-container p{
    text-align: justify;
    line-height: 1.5em;
}



.FAQs h2{
    height: 80px;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    text-align: center; /* Center the text within the element */
    padding: 20px;
    max-width: 2000px;
    margin: 0 auto;
}