// COLORS
$primary-color: rgb(255, 165, 0);
$secondary-color: rgb(255, 124, 0);
$gradient-orange: linear-gradient(109.6deg, rgb(255, 194, 48) 11.2%, $secondary-color 100.2%);
$gradient-bg: linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%);

// FONTS
$heading-font: "Kalam", cursive;
$body-font: "Lato", sans-serif;
