.SignupPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.SignupPage form {
  width: 100%;
  max-width: 400px;
  padding: 20px;
}



.SignupPage .form-control {
  margin-bottom: 20px;
}

.SignupPage .error-message {
  color: red;
  margin-top: 5px;
}

.SignupPage p {
  text-align: center;
  margin-top: 20px;
}

.SignupPage a {
  text-decoration: none;
  color: goldenrod;
  border: 0.1em solid var(--c);
  --c: goldenrod;
  border-radius: 8px;
  padding:5px;


}

.SignupPage a:hover {
  text-decoration: underline;
}

form > div > div > div >  button {
  /* Targetting 'show password' button only*/
  --c: none; 
}
