.recipe-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.recipe-container {
    border: 1px solid black;
    border-radius: 15px;
    width: 25%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    background-color:  rgba(255, 255, 255, 0.408)   ;
}

.recipe-container a {
    text-decoration: none;
    color: inherit;
}

.recipe-info {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: space-between;
}

.recipe-info p {
    border: 1px solid grey;
    padding: 10px;
}