.profile-page {
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  color: white; /* Set text color to white for contrast */
}

.personal-details-card {
  display:flex;
  flex-direction: column;
}

.profile-page button {
  height: 40px;
  padding: 5px;
  line-height: 0;
  letter-spacing: 0;
}

.personal-details-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}

.profile-pic img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.profile-item p {
  margin: 0px;
}

form .profile-item {
  display: flex;
  flex-direction: column;
}

form .profile-item label {
  margin-bottom: 5px;
}

form .profile-item input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button-profile {
  background-color: rgb(255, 165, 0);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  z-index: 0;
}
