/* Navbar.css */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    padding: 10px;
  }
  
  nav a {
    text-decoration: none;
    margin-right: 15px;
  }
  
  
  nav span {
    color: white;
    margin-right: 15px;
  }
  
  nav .right-section {
    display: flex;
    align-items: center;
  }
  
  nav .shopping-cart-icon {
    font-size: 36px; 
    color: white; 
    margin-left: 15px; 
  }

  .navbar-container {
    width: 100%;
    background-color: rgba(255, 221, 0, 0.19); /* Example background color */
    padding: 5px 15px;
}

.p-menubar {
    width: 100%; /* Ensure Menubar stretches across the container */
    display: flex;
    align-items: center;
    gap: 5px;
}

.p-menubar-root-list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 800px;
    margin-top: 10px;
}

.p-menubar-root-list li {
    align-content: center;
}

.p-menuitem-link {
    background-color: #070707;
    color: rgb(255, 165, 0);
    height: 32px;
    font-size: 18px;
    padding: 8px 16px;  
    border-radius: 10px;
    border: 2px solid black; 
}

.p-menuitem-link:hover {
    background-color: #0056b3;
}

.ml-auto {
    margin-left: auto;
}

.p-button {
    background-color: #070707;
    color: rgb(255, 165, 0);
    height: 32px;
    font-size: 18px;
    padding: 8px 16px;   ;
}

.w-300px {
    width: 300px;
    display: flex;
    justify-content:flex-end;
    gap: 10px;
    margin-right: 25px;
}