/* Navbar.css */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

nav a {
  text-decoration: none;
  margin-right: 15px;
}

nav .right-section {
  display: flex;
  align-items: center;
}

nav .shopping-cart-icon {
  font-size: 36px;
  color: white;
  margin-left: 15px;
}

.navbar-container {
  position: sticky;
  top: 0;
  padding: 5px 15px;
  z-index: 2;
  border: none;
}

.p-menubar {
  width: 100%; /* Ensure Menubar stretches across the container */
  display: flex;
  align-items: center;
  gap: 5px;
  height: 60px;
}

.p-menubar img {
  border-radius: 8px;
}

.p-menubar img:hover {
  cursor: pointer;
}

.p-menubar-root-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 800px;
  margin-top: 10px;
}

.p-menubar-root-list li {
  align-content: center;
}

.p-menuitem-link {
  color: white;
  height: 32px;
  font-size: 18px;
  padding: 8px 16px;
  border-radius: 10px;
}

.p-menuitem-link:hover {
  color: rgb(255, 165, 0);
  height: 32px;
  font-size: 18px;
  padding: 8px 16px;
  border-radius: 10px;
  --c: goldenrod;
  border: 0.1em solid var(--c);
  border-radius: 0.5em;
}

.p-menuitem-text {
  font-size: 20px;
  margin: 10px;
}

.ml-auto {
  margin-left: auto;
}

.w-300px {
  width: 300px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-right: 25px;
}

.log-in-button {
  color: white;
  width: 125px;
  padding: 5px 10px;
  border: none;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 0.05em;
  text-align: center;
  line-height:normal;
  position: none;
  overflow: none;
  transition: 0s;
}

.log-in-button:hover {
  color: rgb(255, 165, 0);
  border: 0.1em solid rgb(255, 165, 0);
  border-radius: 0.5em;
  background-color: transparent;
}
