/* Footer.css */

.footer {
    background: linear-gradient(109.6deg, rgb(255, 194, 48) 11.2%, rgb(255, 124, 0) 100.2%);    padding: 20px;
    margin-top: 25px;
    text-align: center;
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px; 
}

.footer a {
    color: black;
    text-decoration: none;
    padding: 5px 10px;
}