.App {
  text-align: center;
}

body {
  margin: 0;
  color: aliceblue;
}

body{
  background: linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%);
}

h1{
  color: white;
  text-align: center;
  font-size: 40px;
  font-family: "Kalam";
}

h2{
  color: white;
  text-align: center;
  font-size: 30px;
  font-family: "Kalam";
  background: linear-gradient(109.6deg, rgb(255, 194, 48) 11.2%, rgb(255, 124, 0) 100.2%);}

p{
  color: white;
  text-align: center;
  font-size: 20px;
  font-family: "Lato";
  
}

button{
  background-color: rgb(255, 165, 0);
  color: white;
  font-size: 20px;
  font-family: "Lato";
  padding: 10px;
  border-radius: 10px;
  border: 2px solid black;
}

h3{
  color : white;
  text-align: center;
  font-size: 20px;
  font-family: "Kalam";
  background: linear-gradient(109.6deg, rgb(255, 194, 48) 11.2%, rgb(255, 124, 0) 100.2%);}

h5{

  color : white;
  text-align: center;
  font-size: 20px;
  font-family: "Kalam";
  background-color: rgb(255, 165, 0) ;

}


.selected {
  background-color: #b9ac62;
  color: white;
}

 
ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

