.HomePage-container{
    padding: 20px;
        max-width: 2000px;
        margin: 0 auto;
}

.HowItWorksstepper{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;

}

.HowItWorksstepper span {
    font-style: italic;
    
}

