.mealPlan-container{
        padding: 20px;
        max-width: 2000px;
        margin: 0 auto;
      
}

.people{
    margin: 40px 0px;
}



.people button{
    margin: 10px;
    padding: 10px 30px;
}

.dishesWeek{
    margin: 40px 0px;

}

.dishesWeek button{
    padding: 10px 30px;
    margin: 10px;

}

.diet-list button{
    padding: 10px 30px;
    margin: 10px;
}

.diet-list{
    margin: 40px 0px;
}




